<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<footer>

     <address>
        
     </address> 
     <i>
         
        <span>
            
        </span>
    </i>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <p>Copyright &copy; <span><i class="fa-solid fa-blog"></i></span>Bloggers Network,
            <span class="mb-3 mb-md-0 text-body-secondary"><% let day = new Date();%>
                <% let years = day.getFullYear();%>
                <%= years %><br> All Right Reserved.</span>
            </p>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <i class="fa-brands fa-twitter"></i>
            </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <i class="fa-brands fa-instagram"></i>
            </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <i class="fa-brands fa-facebook"></i>
            </a></li>
          </ul>
        </footer>
      </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>