
    <header>
        <nav class="py-2 bg-body-tertiary border-bottom">
            <div class="container d-flex flex-wrap">
              <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link link-body-emphasis px-2">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link link-body-emphasis px-2">Contact</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link link-body-emphasis px-2">Blog-Post</a></li>
              </ul>
              <script async src="https://cse.google.com/cse.js?cx=85b4fbb2700a14f3a">
            </script>
            <div class="gcse-search" id="googlesearch"></div>
              <ul class="nav">
                <li class="nav-item"><a href="/login" class="nav-link link-body-emphasis px-2">Login</a></li>
                <li class="nav-item"><a href="/register" class="nav-link link-body-emphasis px-2">Register</a></li>
              </ul>
            </div>
          </nav>
    </header>