<%- include("partials/head.ejs") %>

<%- include("partials/header.ejs") %>


<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis"><span><i class="fa-solid fa-blog"></i></span> Bloggers Network</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"><span><i class="fa-solid fa-blog"></i></span>Bloggers NetWork represent the classical mix of technologies in pioneering the means and methods of captivating blog enthusiast to deliver professional contents of modern charisma. </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="/register" class="btn btn-primary btn-lg px-4 me-sm-3">Sign Up</button>
        <button type="/login" class="btn btn-outline-secondary btn-lg px-4">Login</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="images/blogs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>
  
 
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Why Choose Bloggers Network?</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">The future is your Choice you make!</h2>
        <p class="text-body-secondary">Never leave it undone; We do all blog posting stuff for free.Your choice today will payoff abundantly. <a href="/register">Join us</a> today to stay out of the blog posting race and be unique.</p>
        <a href="/register" class="btn btn-primary btn-lg docs-creator">Register Now!</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#collection"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Free Membership</h4>
            <p class="text-body-secondary">You are only limited to two blog post per month with 1000 characters and one image per each.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#gear-fill"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Bronze Membership</h4>
            <p class="text-body-secondary">Supercharge your blog post with only $2 per month, with five(5) blog post monthly of 2000 characters and four(4) images per each.</p>
          </div>
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#speedometer"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Silver Membership</h4>
            <p class="text-body-secondary">Unleash your blogging potentials with this package; only $5 per month will promote you personally and professionally. Featuring ten(10) blog post monthly of 3000 characters and ten(10) images per each</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
              <svg class="bi" width="1em" height="1em">
                <use xlink:href="#table"></use>
              </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Premium Membership</h4>
            <p class="text-body-secondary">I am unlimited in everything I do for only $15 per month. What are you waiting for?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer.ejs") %>          