<%- include("partials/head.ejs") %>

<%- include("partials/header.ejs") %>



<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/images/bookhubAI.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><span><i class="fa-solid fa-blog"></i></span>Welcome to Bloggers NetWork</h1>
        <p class="lead"><span><i class="fa-solid fa-blog"></i> Unleash the Power of Your Content with Bloggers Network.</span>  the world’s most popular blog post network. Are you a passionate blogger, content creator, or influencer looking to expand your reach and monetize your talents? Look no further than Bloggers Network, the premier platform that empowers content creators like you to connect with a global audience and drive real results.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4 me-md-2"><a href="/register">Sign Up</a></button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/about">About</a></button>
        </div>
      </div>
    </div>
  </div>
        

<%- include("partials/footer.ejs") %>          