$fontColor: dodgerblue;
$form: mediumseagreen;

$c1: #ff00ff; $c2: #00ffff; $c3: #ffff00; $c4: #00ff00; $c5: #ff0000;
$c6: #000000; $c7: #ffffff; $c8: #3cb371; $c9: #6a5acd; $c10: #ee82ee;
$c11: #7b8487; $c12: #408487; $c13: #ff8487; $c14: #ffadff; $c15: #646081;
$c16: #a1b3c4;