
$fnt10:10px;$fnt15:15px;$fnt20:20px;$fnt25:25px;$fnt30:30px;$fnt40:40px;$fnt50:50px;
$fnt1:1rem;$fnt2:2rem;$fnt3:3rem;$fnt4:4rem;$fnt5:5rem;$fnt6:6rem;$fnt7:7rem;
$fnt8:8rem;$fnt9:9rem;$fnt10r:10rem;$fnt11:11rem;$fnt12:12rem;$fnt13:13rem;$fnt14:14rem;

$txt1:center;$txt2:left;$txt3:right;
